# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Python cache & build artifacts
build/
dist/
*.egg-info/

# Jupyter notebook checkpoints (if used)
.ipynb_checkpoints/

# Demo media (optional, only if you include GIF/MP4 for docs)
demo/*.gif
demo/*.mp4
